.main-container{
    position: absolute;
    padding-top: 60px;
    height: 100%;
    width: 100%;
}
.maps-container{
    width: 50%;
    min-width: 450px;
    min-height: 450px;
    float: right;
    margin: 50px 50px 60px 10px;
    background-color: #eeeeee;
}
.roulette-container{
    width: 35%;
    min-height: 100px;
    float: left;
    margin: 50px 10px 10px 50px;
    background-color: #eeeeee;
}
.list-container{
    position: relative;
    width: 35%;
    min-height: 330px;
    float: left;
    margin: 10px 10px 60px 50px !important;
    background-color: #eeeeee;
}