<div class="loading d-flex vh-100 vw-100 justify-content-center align-items-center"
     *ngIf="showBackdrop"
>
    <div class="spinner-border" role="status"></div>
</div>
<div class="main-container" [class.backdrop]="showBackdrop">
    <div class="maps-container" id="mapContainer" #mapContainer></div>
    <div class="roulette-container">
        <slot-machine *ngIf="restaurantsArray.length"
                      [itemArray]="restaurantsArray"
                      (onHoverItem)="onOverRestaurant($event)"
                      (onLeaveItem)="onLeaveRestaurant($event)"
        ></slot-machine>
    </div>
    <div class="list-container">
        <div
                class="restaurant-item"
                *ngFor="let restaurant of restaurantsArray; let i = index;"
                (mouseenter)="onOverRestaurant(restaurant)"
                (mouseleave)="onLeaveRestaurant(restaurant)"
        >
            <span class="restaurant-name" [ngClass]="{ 'selected': restaurant.selected }">
                {{ restaurant.place.name }}
            </span>
            <span class="remove float-right" (click)="removeRestaurant(restaurant.id)">X</span>
        </div>
    </div>
</div>
