@import '../../app.component';

.float-right {
    float: right;
}

.loading {
    position: absolute;
    z-index: 5;
}

.main-container {
    padding-top: 60px;

    &.backdrop::before {
        content: "";
        position: absolute;
        top: 0;
        height: 100vh;
        background: lightgrey;
        width: 100vw;
        z-index: 1;
        opacity: 0.5;
    }
}

.maps-container {
    width: 50%;
    min-width: 450px;
    min-height: 450px;
    float: right;
    margin: 50px 50px 0 10px;
    background-color: #eeeeee;
}

.roulette-container {
    width: 35%;
    min-height: 100px;
    float: left;
    margin: 50px 10px 10px 50px;
    background-color: #eeeeee;
}

.restaurant-name {
    @include restaurant-item
}

/* ------- Roulette Container ------- */

.roulette-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* ------- List Container ------- */

.list-container {
    position: relative;
    width: 35%;
    height: 330px;
    overflow: scroll;
    float: left;
    margin: 10px 10px 0 50px;
    background-color: #eeeeee;

    .restaurant-item {
        margin: 3px 20px;
        @include restaurant-item
    }

    .remove {
        font-size: 13px;
        cursor: pointer;
    }
}
