<div class="main-container">
    <div class="maps-container" id="mapContainer" #mapContainer></div>
    <div class="roulette-container">
        <slot-machine [itemArray]="restaurantsArray"
                      (onHoverItem)="onOverRestaurant($event)"
                      (onLeaveItem)="onLeaveRestaurant($event)"
        ></slot-machine>
    </div>
    <div class="list-container">
        <div
                class="restaurant-item"
                *ngFor="let restaurant of restaurantsArray; let i = index;"
                (mouseenter)="onOverRestaurant(restaurant)"
                (mouseleave)="onLeaveRestaurant(restaurant)"
        >
            <span class="restaurant-name" [ngClass]="{ 'selected': restaurant.selected }">
                {{ restaurant.place.name }}
            </span>
            <span class="remove float-right" (click)="removeRestaurant(restaurant.place.id)">X</span>
        </div>
    </div>
</div>
